.contactForm {
    width: 60%;
    margin: 0 auto;
    padding: 2% 0 4% 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #000000;
    background-color: #88001b;
}

.contactForm .inputs div {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1%;
}

.contactForm input {
    width: 100%;
    padding: 10px 5px;
    margin-top: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.contactForm input:focus {
    box-shadow: inset 0 0 10px #000000;
}


.formBtns {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.btn {
    width: 150px;
    height: 45px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px #000000;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    
    
}

.btn:hover {
    background-color: #e4e4e4;
    
}

.btn:active {
    -moz-transform: scale(0.9); 
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: #d3d3d3;

}

.userData {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid #000000;
    border-collapse: collapse;
}

.userData td {
    padding: 2%;
    border: 2px solid #000000;

}

@media(max-width: 541px) {
    .contactForm {
        width: 90%;
    }

    .userData {
        width: 80%;
    }

}



